<div class="large-8 small-14 column">
  <%=image_tag @macaron.image%>
</div>
 
<div class="large-4 small-14 column">
  <h3>
    <%= @macaron.name %>
  </h3>
  <p class="label macaron-label radius mb1">Php <%= @macaron.price %></p>
</div>